<!DOCTYPE html>

<title>Utilisateur index</title>

{% block body %}
    <h1>Utilisateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdUtilisateur</th>
                <th>UtilisateurNom</th>
                <th>UtilisateurPrenom</th>
                <th>UtilisateurDateNaissance</th>
                <th>UtilisateurAdressePostale</th>
                <th>UtilisateurAdresseComplementaire</th>
                <th>UtilisateurCodePostal</th>
                <th>UtilisateurVille</th>
                <th>UtilisateurSexe</th>
                <th>UtilisateurLoisirs</th>
                <th>UtilisateurTelephone</th>
                <th>UtilisateurImgProfil</th>
                <th>UtilisateurPossedePermis</th>
                <th>UtilisateurPossedeVehicule</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.idUtilisateur }}</td>
                <td>{{ utilisateur.utilisateurNom }}</td>
                <td>{{ utilisateur.utilisateurPrenom }}</td>
                <td>{{ utilisateur.utilisateurDateNaissance ? utilisateur.utilisateurDateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ utilisateur.utilisateurAdressePostale }}</td>
                <td>{{ utilisateur.utilisateurAdresseComplementaire }}</td>
                <td>{{ utilisateur.utilisateurCodePostal }}</td>
                <td>{{ utilisateur.utilisateurVille }}</td>
                <td>{{ utilisateur.utilisateurSexe ? 'Yes' : 'No' }}</td>
                <td>{{ utilisateur.utilisateurLoisirs }}</td>
                <td>{{ utilisateur.utilisateurTelephone }}</td>
                <td>{{ utilisateur.utilisateurImgProfil }}</td>
                <td>{{ utilisateur.utilisateurPossedePermis ? 'Yes' : 'No' }}</td>
                <td>{{ utilisateur.utilisateurPossedeVehicule ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('utilisateur_show', {'idUtilisateur': utilisateur.idUtilisateur}) }}">show</a>
                    <a href="{{ path('utilisateur_edit', {'idUtilisateur': utilisateur.idUtilisateur}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('utilisateur_new') }}">Create new</a>
{% endblock %}
