<!DOCTYPE html>

<title>Utilisateur</title>

{% block body %}
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdUtilisateur</th>
                <td>{{ utilisateur.idUtilisateur }}</td>
            </tr>
            <tr>
                <th>UtilisateurNom</th>
                <td>{{ utilisateur.utilisateurNom }}</td>
            </tr>
            <tr>
                <th>UtilisateurPrenom</th>
                <td>{{ utilisateur.utilisateurPrenom }}</td>
            </tr>
            <tr>
                <th>UtilisateurDateNaissance</th>
                <td>{{ utilisateur.utilisateurDateNaissance ? utilisateur.utilisateurDateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>UtilisateurAdressePostale</th>
                <td>{{ utilisateur.utilisateurAdressePostale }}</td>
            </tr>
            <tr>
                <th>UtilisateurAdresseComplementaire</th>
                <td>{{ utilisateur.utilisateurAdresseComplementaire }}</td>
            </tr>
            <tr>
                <th>UtilisateurCodePostal</th>
                <td>{{ utilisateur.utilisateurCodePostal }}</td>
            </tr>
            <tr>
                <th>UtilisateurVille</th>
                <td>{{ utilisateur.utilisateurVille }}</td>
            </tr>
            <tr>
                <th>UtilisateurSexe</th>
                <td>{{ utilisateur.utilisateurSexe ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>UtilisateurLoisirs</th>
                <td>{{ utilisateur.utilisateurLoisirs }}</td>
            </tr>
            <tr>
                <th>UtilisateurTelephone</th>
                <td>{{ utilisateur.utilisateurTelephone }}</td>
            </tr>
            <tr>
                <th>UtilisateurImgProfil</th>
                <td>{{ utilisateur.utilisateurImgProfil }}</td>
            </tr>
            <tr>
                <th>UtilisateurPossedePermis</th>
                <td>{{ utilisateur.utilisateurPossedePermis ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>UtilisateurPossedeVehicule</th>
                <td>{{ utilisateur.utilisateurPossedeVehicule ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('utilisateur_index') }}">back to list</a>

    <a href="{{ path('utilisateur_edit', {'idUtilisateur': utilisateur.idUtilisateur}) }}">edit</a>

    {{ include('utilisateur/_delete_form.html.twig') }}
{% endblock %}
